header {
  display: flex;
  justify-content: space-between;
}

.profile-container {
  width: 100%;
  max-width: 1180px;
  padding: 0 30px;
  margin: 32px auto;
}

.profile-container header {
  display: flex;
  align-items: center;
}

.profile-container header a {
  width: 200px;
  margin-left: 1%;
  margin-top: 0;
}

#getBackLink {
  margin-left: 0;
}

.profile-container h1 {
  margin-top: 65px;
  margin-bottom: 24px;
}
.profile-container ul {
  list-style: none;  
}

.card-header:hover {
  cursor: pointer;
  background-color: #fcfcfc;
}

.card-header,
#accordionCollapse {
  background: #FFF;
  margin: 1px 0;
  
  border-radius: 8px;
  position: relative;
}

#accordionCollapse {
  padding: 10px 24px 0px;
}

.profile-container ul li strong {
  display: block;
  margin-bottom: 5px;
  color: #41414d;
}

.profile-container ul li p {
  color: #737380;
  line-height: 21px;
  font-size: 16px;
}

.profile-container ul li p + strong {
  margin-top: 22px;
}

.divIcons {
  display: flex;
  position: absolute;
  align-items: baseline;
  right: 24px;
  top: 27px;
}

.profile-container ul li a,
.profile-container ul li button {
  margin-left: 10px;
  border: 0;
  background-color: transparent;
}

.profile-container ul li button:hover,
.profile-container ul li a:hover {
  opacity: 0.5;
}

#iconUsers {
  margin-right: 10px;
}
